<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-button routerLink="/profile-user">Return To User Profile</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <h1>Edit your Profile</h1>
    <img src="assets/logos/user-edit.png" />
    <h2>Continue with the verification:</h2>
  </div>

  <ion-card class="ion-margin">
    <br />
    <ion-item>
      <ion-input
        [(ngModel)]="username"
        type="text"
        required
        placeholder="Enter your new username"
      ></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-input
        [(ngModel)]="name"
        type="text"
        required
        placeholder="Enter your new name"
      ></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-input
        [(ngModel)]="password"
        type="password"
        placeholder="Enter your new password"
      ></ion-input>
    </ion-item>
    <br />

    <div id="edit">
      <ion-button expand="block" shape="round" (click)="editUser()"
        >Finish Edit</ion-button
      >
    </div>
  </ion-card>
</ion-content>
