<ion-header>
  <ion-toolbar>
    <ion-title>Edit User Profile</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-button routerLink="/menu/profile-user">Go Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="header">    
    <h1>Edit your Profile</h1>
    <h2>Enter your new data:</h2>
  </div>
  
  
  <ion-item>
    <ion-input [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
  </ion-item>
  <br>    
  <ion-item>
    <ion-input [(ngModel)]="name" type="text" required="true" placeholder="Name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
  </ion-item>
  
  <ion-button  expand="block" shape="round" (click)= "editUser()">Finish Edit</ion-button>

  
</ion-content>
