<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-button routerLink="/login"> Back to Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="header">    
    <h1>Create your Account</h1>
    <img src="assets/logos/register.png" />
    <h2>Enter your data:</h2>
  </div>
  

  <ion-item>
    <ion-input [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
  </ion-item>
  <br>    
  <ion-item>
    <ion-input [(ngModel)]="name" type="text" required="true" placeholder="Name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
  </ion-item>
  
  <ion-button expand="block" shape="round" (click)= "register()">Sign up</ion-button>
  
  <div id="register">
    <p>By pressing 'Sign up' you agree to our terms & conditions.</p>
    <br/>
  </div>
  
</ion-content>