<ion-header>
  <ion-toolbar>
    <ion-title>Delete Account</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-button routerLink="/profile-user">Return To User Profile</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <h1>Delete your Account</h1>
    <img src="assets/logos/user-delete.png" />    
  </div>

 <br><br>
 <h2>Final Confirmation:</h2>
  <ion-button
    color="danger"
    expand="block"
    shape="round"
    class="ion-margin"
    (click)="deleteUser()"
    >Delete</ion-button
  >
</ion-content>
