<ion-header>
  <ion-toolbar>
    <ion-title>user-top</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item>
      <ion-input [(ngModel)]="username" type="text" placeholder="your Username"></ion-input>
    </ion-item>
    <br>   

    <ion-button expand="block" shape="round" (click)= "favsM()">see list</ion-button>
  </div>

  <ion-list>
    <ion-item *ngFor="let favS of favs" [routerLink]="['/profile-movie/' + favS.id]">
      <ion-label> {{favS.title}} </ion-label>
    </ion-item>
  </ion-list>  


</ion-content>