ion-toolbar {
    --background: #cf3c4f;
}

ion-content {
    --background: #222428;
}

h2 {
    color: white;
    text-align: start;
}

.list {
    background: black;
    padding: 2px;
    margin-left: 35px;
}
