<app-header-go-main title="Movie Profile"></app-header-go-main>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <!--If movie is true (exists), do the rest of the code-->
        <div *ngIf="movie">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <ion-card-title>
                {{movie.title}} ({{movie.year}})
              </ion-card-title>
              <br />
              <img src="{{movie.image}}" alt="" />
              <br />

              <p>Genre: {{movie.genre}}</p>
              <p>General Rating: {{movie.rating}}</p>
              <p>
                Take a look to the trailer,
                <a href="{{movie.trailer}}" target="_blank">here</a>
              </p>

              <br />
              <div>
                <h2>Description:</h2>
                <p>{{movie.description}}</p>
                <br />
              </div>
              <div>
                <ion-button
                  color="warning"
                  (click)="addFav()"
                  expand="block"
                  shape="round"
                  >☆ Add to favorites</ion-button
                >
              </div>

              <br />
              <ion-list class="list">
                <h2>Comments:</h2>
                <ion-item *ngFor="let com of comment">
                  <ion-label slot="start">User: {{com.username}}</ion-label>
                  <p>({{com.description}}).</p>
                </ion-item>
              </ion-list>
              <br />
              <ion-list class="list">
                <h2>General rating: {{general_rating}}</h2>
                <ion-item *ngFor="let ra of ratinga">
                  <ion-label slot="start">User: {{ra.username}}</ion-label>
                  <p>{{ra.rating}}</p>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div>
          <h4 class="ion-text-center">Comment section:</h4>
          <ion-item>
            <ion-input
              [(ngModel)]="description"
              type="text"
              placeholder="Add a concise comment"
            ></ion-input>
          </ion-item>
          <br />
          <ion-button (click)="addComment()" expand="block" shape="round"
            >Add comment</ion-button
          >
          <br />
        </div>

        <div>
          <h4 class="ion-text-center">Rating section:</h4>
          <ion-item>
            <ion-input
              [(ngModel)]="rating"
              type="number"
              placeholder="Rating from 1-10"
              numbers-only
              max="10"
              min="0"
            ></ion-input>
          </ion-item>
          <br />
          <ion-button (click)="addRating()" expand="block" shape="round"
            >Add rating</ion-button
          >
          <br />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
