<ion-header>
  <ion-toolbar>
    <ion-title>Movie Profile</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-button routerLink="/menu/main">Back to Popular Movies</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <!--If movie is true (exists), do the rest of the code-->
        <div *ngIf="movie">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <ion-card-title>
                {{movie.title}} ({{movie.year}})
              </ion-card-title>
              <br>
              <img src="{{movie.image}}" alt="">
              <br>
              
              <p>Genre: {{movie.genre}}</p>
              <p>General Rating: {{movie.rating}}</p>
              <p> Take a look to the trailer, 
                <a href="{{movie.trailer}}" target="_blank">here</a>
              <div>
                <h2>Description:</h2>
                <p>{{movie.description}}</p>
              </div>
              
              <br>
              <ion-list class="list">
                <h2>Comments:</h2>
                <ion-item *ngFor = "let com of comment">
                  <ion-label slot="start">User: {{com.username}}</ion-label>
                  <p>({{com.description}}).</p>
                </ion-item>                
              </ion-list>   
              <br>
              <ion-list class="list">
                <h2>Ratings:</h2>
                <ion-item *ngFor = "let ra of ratinga">
                  <ion-label slot="start">User: {{ra.username}}</ion-label>
                  <p>{{ra.rating}}</p>
                </ion-item>                
              </ion-list> 
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div>
    
    <h4 class="ion-text-center">Comment section:</h4>

    <ion-item>
      <ion-input [(ngModel)]="username" type="text" required="true" placeholder="Enter your username"></ion-input>
    </ion-item>    
    <br>
    <ion-item>
      <ion-input [(ngModel)]="description" type="text" placeholder="Comment"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)= "addComment()" expand="block" shape="round" >Add comment</ion-button>
    <br>
    
  </div>
  
  
  
  
  
  
  <div>
    <h4 class="ion-text-center">Rating section:</h4>
    <ion-item>
      <ion-input [(ngModel)]="user" type="text" required="true" placeholder="Enter your username"></ion-input>
    </ion-item>    
  
    <ion-item>
      <ion-input [(ngModel)]="rating" type="text" placeholder="Rating"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)= "addRating()" expand="block" shape="round" >Add rating</ion-button>
    <br>
    
  </div>  
  
</ion-content>