<app-header-go-main title="User Activity"></app-header-go-main>

<ion-content>
  <ion-card class="swag"> 
    
    <img src="assets/logos/comment.png" />
    <h1 >Comments:</h1>
    <ion-list>
      <ion-item *ngFor="let com of comments">
        <ion-label
        >・𝗠𝗼𝘃𝗶𝗲: {{com.movie_title}} <br>✓ 𝗖𝗼𝗺𝗺𝗲𝗻𝘁:
        {{com.description}}</ion-label
        >
      </ion-item>
    </ion-list>
  </ion-card>
  <br><br><br><br>
  
  
  <ion-card class="swag">
    <img src="assets/logos/rating.png" />
    <h1>Ratings:</h1>
  
          <ion-list>
            <ion-item *ngFor="let rat of ratings">
              <ion-label
              >・𝗠𝗼𝘃𝗶𝗲: {{rat.movie_title}} <br>✩ 𝗥𝗮𝘁𝗶𝗻𝗴:
              {{rat.rating}}</ion-label
              >
            </ion-item>
          </ion-list>
          
       
  </ion-card>
</ion-content>
