ion-toolbar {
    --background: #cf3c4f;
    
    
    
}

ion-content {
    --background: #222428;
    
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-right: 40px;
        padding-bottom: 0px;
        padding-left: 40px;          
        
        img {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            border: 2px solid #ffffff;
        }
        
        h1 {
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size:26px;
            color: #ffffff;
            margin-bottom: 15%;
        }        
    }
    
    ion-item {
        border-radius: 50px;
        height: 55px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
        --hightlight-height: 0px;
        
        ion-input {
            font-size: 18px;
            --padding-top: 20px;
            --padding-bottom: 15px;
            --padding-start: 5px;
        }
        
        a {
            font-size: 17px;
            letter-spacing: 0.5px;
            text-decoration: none;
        }
    }
    
    ion-buton {
        margin-top: 35px;
        padding-left: 30px;
        padding-right: 30px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
        
        
        
        
    }
    
    
    #register {
        padding-right: 160px;
        padding-bottom: 50px;
        padding-left: 120px;
        
        ion-item {
            
            p {
                text-align: center;
            }
        }
    }
}