<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="header">    
    <img src="assets/logos/logo1.png" />
    <h1>Log in to PopcornTasters</h1>
  </div>
  
  <ion-item>
    <ion-input [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" shape="round" (click)= "login()">Login</ion-button>
  
  
  <div id="register">
    <br/>
    <ion-item>
      <p>Don't have an account? <a href="/register"> Sign up</a></p> 
    </ion-item>
  </div>
  
</ion-content>