<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content>

  <div id="header">
    <h1>Login</h1>
    <img src="assets/logos/mainlogo.png" />
  </div>
</ion-content>

<!--
  <ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="ion-margin">
      <br>
      <ion-item>
        <ion-input [(ngModel)]="username" type="username" placeholder="Username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <br>
    </ion-card>
    <ion-button class="ion-margin" (click)= "login()">Login</ion-button>
    <ion-item class="ion-text-center">
      <p>Don't have an account? <a href="/register">Sign Up</a></p> 
    </ion-item>
  </ion-content>-->