
  <ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">User Profile</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-button routerLink="/menu/main">Go Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngIf="person">
    <p>
      Username: {{person.username}}
      
      Name: {{person.name}}
    </p>
    
  </div>
  
  
  <ion-button routerLink="/profile-user-edit"  expand="block" shape="round">Edit profile</ion-button>
  <ion-button expand="block" shape="round" (click)= "deleteA()">Delete account</ion-button>
  
  
</ion-content> 
